<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.model.mapper.ModelCodeMapper">
    <insert id="insertModelCode" parameterType="com.ruoyi.project.model.domain.ModelCode">
        <selectKey resultType="int" keyProperty="interfaceId" order="BEFORE">
            SELECT @num := @num + 1
            FROM (SELECT @num := ifnull(MAX(interface_id), 0) from model_code where interface_code = #{interfaceCode} and model_cate_id = #{modelCateId}) n
        </selectKey>
        insert into model_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            model_code,
            model_cate_id,
            interface_code,
            interface_name,
            interface_id,
            <if test="modelAttrs != null and modelAttrs != ''">
                model_attrs,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="remark != null">
                remark,
            </if>
            model_attr_ids,model_attr_value
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            concat(
                    #{modelCode},
                    '${@com.ruoyi.project.model.enums.EModelCodeSeparator@DEFAULT.getSeparator()}',
                    #{interfaceCode},
                    '${@com.ruoyi.project.model.enums.EModelCodeSeparator@DEFAULT.getSeparator()}',
                    lpad(#{interfaceId}, 4, 0)
                ),
            #{modelCateId},
            #{interfaceCode},
            #{interfaceName},
            #{interfaceId},
            <if test="modelAttrs != null and modelAttrs != ''">
                #{modelAttrs,typeHandler=com.ruoyi.framework.config.mybatis.FastjsonArrayHandler},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            #{modelAttrIds}, #{modelAttrValues},
        </trim>
    </insert>
    <resultMap type="com.ruoyi.project.model.domain.ModelCode" id="ModelCodeResult">
        <result column="model_code" property="modelCode"/>
        <result column="model_cate_id" property="modelCateId"/>
        <result column="interface_code" property="interfaceCode"/>
        <result column="used" property="used"/>
        <result column="model_attr_value" property="modelAttrValues"/>
        <result column="interface_name" property="interfaceName"/>
        <result column="interface_id" property="interfaceId"/>
        <result column="model_attrs" property="modelAttrs" typeHandler="com.ruoyi.framework.config.mybatis.FastjsonArrayHandler"/>
        <result column="model_attr_ids" property="modelAttrIds"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <select id="list" resultMap="ModelCodeResult">
        select mc.model_code, model_cate_id, interface_code, model_attr_value,interface_name, interface_id,
               model_attrs,
               model_attr_ids, create_time, update_time, create_by, update_by, remark
            ,exists(select 1 from model m where m.model_code = mc.model_code) as used
        from model_code mc
        <where>
            <if test="interfaceCode != null and interfaceCode != ''">
                mc.interface_code like concat(trim(#{interfaceCode}),'%')
            </if>
            <if test="interfaceId != null">
              and   mc.interface_id = #{interfaceId}
            </if>
            <if test="interfaceName != null and interfaceName != ''">
               and mc.interface_name like concat(trim(#{interfaceName}),'%')
            </if>
            <if test="modelCode != null and modelCode != ''">
                and mc.model_code like concat(trim(#{modelCode}),'%')
            </if>
            <if test="modelCateName != null and modelCateName != ''">
               and exists(select 1 from model_category mc2  where mc.model_cate_id = mc2.model_cate_id
                and mc2.model_cate_name like concat(trim(#{modelCateName}),'%'))
            </if>
        </where>
        <if test="used != null and used != '' ">
            having  used = #{used}
        </if>
        order by mc.create_time desc

    </select>
</mapper>
